# Output
/dist
/build
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS system files
.DS_Store

# Test output
/coverage
/.nyc_output

# IDEs and editors
/.idea
.vscode/*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Allow specific vscode settings
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Env files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Temp files
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
